.feed{
    background-color:  rgb(0, 0, 0);
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
  }

.feed__inputContainer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid rgb(115, 79, 79);
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input > form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
    background-color: black;
}

.light {
    border: none;
    border-radius: 10px;
    background-color: black;
}

.ligh {
    background-color: rgb(11, 77, 135);
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}

.lightblue {
    color: rgba(0, 136, 255, 0.748);
}

.imageInput {
    border: none;
    padding: 10px;
  }

input, select, textarea{
    color: white;
}